div{
    border: 1px black solid;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex: 1;
    transition: all 3.5s;
}
.red{
margin: 50px auto;
width: 30vw;
height: 30vw;
}
.red.active{
    background-color: red;
}
.orange.active{
    background-color: orange;
}
.yellow.active{
    background-color: yellow;
}
.green.active{
    background-color: green;
}
.cyan.active{
    background-color: cyan;
}
.blue.active{
    background-color: blue;
}
.purple.active{
    background-color: purple;
}
